{% extends 'master.html' %}

{% block body %}

{% for items in wall_posts %}
<div>
    <ul class="list-group">
        <li class="list-group-item">Author: {{ items[0] }} </li>
        <li class="list-group-item">Date: {{ items[1] }} </li>
        <li class="list-group-item"> Post: {{ items[2] }}</li>
    </ul>
</div>
{% endfor %}

{% if session_id %}
<form method="POST" action='/user/{{ username }}/post'>
<h3>Post a Message</h3>
    <input type="textarea" class="form-control" placeholder="Share your thoughts..." name="post">
    <input type="submit" class="btn-primary" value="Submit">
</form>
        
{% endif %}

{% endblock %}
